.phd-thesis {
    &:not(:last-child) {
        margin-bottom: 25px;
    }

    &__panel {
        margin-bottom: 30px;
    }

    &__wrap {
        margin-bottom: -15px;
        margin-right: -15px;
    }

    &__chip {
        margin-bottom: 15px;
    }

    &__title {
        font-weight: 700;
    }
}
