.person {
    display: flex;

    @media (--mobile) {
        flex-wrap: wrap;
    }

    &:not(:last-child) {
        border-bottom: 1px solid var(--dark60);
        margin-bottom: 25px;
        padding-bottom: 25px;
    }

    &__wrap {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        @media (--mobileSM) {
            flex-direction: column;
        }
    }

    &__title {
       font-weight: 700;
        display: block;
        font-weight: 700;
        min-width: 100px;
        max-width: 100px;

        @media (--mobileSM) {
            margin-bottom: 5px;
        }

        @media (--mobileBU) {
            margin-right: 10px;
        }
    }

    &__image-box {
        @media (--mobile) {
            margin-right: 25px;
            min-width: 290px;
            width: 290px;
        }

        @media (--desktop) {
            margin-right: 25px;
            min-width: 170px;
            width: 170px;
        }
    }

    &__image {
        width: 100%;
    }

    &__no-image {
        border: 1px solid var(--dark40);
        height: 0;
        padding-bottom: 120%;
        width: 100%;
    }

    &__container {
        @media (--desktop) {
            display: flex;
            flex-grow: 1;
        }
    }

    &__name-box {
        flex-grow: 1;
        padding-bottom: 15px;

        @media (--mobileBU) {
            padding-right: 30px;
        }
    }

    &__name {
        @mixin h5;

        @media (--mobile) {
            margin-top: 15px;
        }
    }

    &__info {
        @media (--mobile) {
            width: 100%;
        }

        @media (--desktopS) {
            min-width: 350px;
            width: 350px;
        }

        @media (--desktopMU) {
            min-width: 400px;
            width: 400px;
        }
    }
}
