.grid {
    &__container {
        display: flex;
        flex-grow: 1;
    }

    &__container_multi-row {
        flex-wrap: wrap;
    }

    &__container_h-align_right {
        justify-content: flex-end;
    }

    &__container_h-align_center {
        justify-content: center;
    }

    &__container_h-align_between {
        justify-content: space-between;
    }

    &__container_h-align_around {
        justify-content: space-around;
    }

    &__container_v-align_top {
        align-items: flex-start;
    }

    &__container_v-align_bottom {
        align-items: flex-end;
    }

    &__container_v-align_center {
        align-items: center;
    }

    &__container_v-align_baseline {
        align-items: baseline;
    }

    &__container_gutters-left {
        @media (--mobileSM) {
            margin-left: -30px;
        }

        @media (--mobileBU) {
            margin-left: -50px;
        }
    }

    &__container_gutters-bottom {
        @media (--mobileSM) {
            margin-bottom: -30px;
        }

        @media (--mobileBU) {
            margin-bottom: -50px;
        }
    }

    &__column_gutter-left {
        @media (--mobileSM) {
            padding-left: 30px;
        }

        @media (--mobileBU) {
            padding-left: 50px;
        }
    }

    &__column_gutter-bottom {
        @media (--mobileSM) {
            padding-bottom: 30px;
        }

        @media (--mobileBU) {
            padding-bottom: 50px;
        }
    }
}
