:root {
    /* Layer */
    --dark80: #11131C;
    /* Content */
    --light: #E7E7E7;
    /* Hovered, onLayer */
    --dark70: #1D1E2B;
    /* FloatLayer */
    --dark60: #252937;
    /* Border */
    --dark40: #3A3E4C;
    /* Pressed */
    --dark20: #B1B4BF;
    /* Link */
    --blue: #B39CFF;
    /* Secondary content */
    --paleLight: #9A9B9C;
}
