:root {
    /* Layer */
    --dark80: #11131C;
    /* Hovered, onLayer */
    --dark70: #1C202D;
    /* FloatLayer, Selected */
    --dark60: #2E3244;
    /* Pressed */
    --dark20: #B1B4BF;
    /* Primary content */
    --light: #E7E7E7;
    /* Secondary content */
    --paleLight: #9A9B9C;
    /* Link */
    --blue: #B39CFF;
}
