.main-header {
  @media (--mobile) {
    border-bottom: 1px solid var(--paleLight);
    margin-bottom: 20px;
  }

  @media (--desktop) {
    margin-bottom: 10px;
  }

  &__title-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
  }

  &__icon {
    height: 16px;
    width: 16px;
    transform: rotate(0deg);
    transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;

    path {
      stroke: var(--paleLight);
    }
  }

  &__icon_rorated {
    transform: rotate(180deg);
  }

  h1&__title {
    @mixin h1-custom;

    @media (--mobile) {
        color: var(--paleLight);
    }
  }

  &__menu-list {
    @media (--mobile) {
      border-top: 1px solid var(--paleLight);
      padding: 10px 0;
    }
  }
}
