.footer {
  border-top: 1px solid var(--dark40);

  &__inner {
    @media (--mobileSM) {
      padding-top: 40px;
      padding-bottom: 60px;
    }

    @media (--mobileB) {
      padding-top: 60px;
      padding-bottom: 80px;
    }

    @media (--desktop) {
      padding-top: 80px;
      padding-bottom: 100px;
    }
  }

  &__logo {
    font-size: 30px;
    display: block;
    text-decoration: none;

    &:hover {
      color: var(--light);
    }

    @media (--mobileBU) {
      margin-bottom: 40px;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__copyright {
    color: var(--paleLight);

    @media (--mobileSM) {
      margin-top: 30px;
    }
  }

  &__info {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    fill: var(--light);
    height: 30px;
    margin-right: 16px;
    min-width: 30px;
  }

  &__text {
    @mixin p;
  }
}
