$b: .image-box;

$(b) {
    position: relative;
    width: 100%;

    &__image {
        display: block;
        width: 100%;
    }

    &__footnote {
        background-color: var(--dark70);
        width: 100%;
    }

    &__text {
        @mixin smallText;
        box-sizing: border-box;
        width: 100%;
        z-index: 5;

        @media (--mobileSM) {
            padding: 10px 15px 10px;
        }

        @media (--mobileBU) {
            padding: 15px 20px 15px;
        }
    }

    &_footnote-collapsed {
        @media (--mobileSM) {
            padding-bottom: 36px;
        }

        @media (--mobileBU) {
            padding-bottom: 50px;
        }

        $(b)__footnote {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;

            &:before {
                background: linear-gradient(180deg, rgba(36, 41, 44, 0.3) 0%, rgba(36, 41, 44, 0.8) 54.69%, rgba(36, 41, 44, 0.9) 80.21%, #24292C 89.58%, #24292C 100%);
                content: '';
                opacity: 1;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
                width: 100%;
                z-index: 10;

                @media (--mobileSM) {
                    height: 10px;
                }

                @media (--mobileBU) {
                    height: 15px;
                }
            }
        }

        $(b)__footnote_unfolded {
            &:before {
                opacity: 0;
            }
        }
    }
}
