$b: .image-box;

$(b) {
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    @media (--desktop) {
        width: 50%;
    }

    @media (--mobileSM) {
        padding-bottom: 36px;
    }

    @media (--mobileB) {
        padding-bottom: 50px;
    }

    &__popup-content {
        border-radius: 8px;
        overflow: hidden;
    }

    &__container {
        cursor: pointer;
        position: relative;

        &:after {
            content: "";
            background-color: #2F175E;
            opacity: 0.20;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: background-color 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
        }

        &:hover {
            &:after {
                background-color: transparent;
            }
        }
    }

    &__image {
        display: block;
        width: 100%;
    }

    &__footnote {
        background-color: var(--dark70);
        width: 100%;
    }

    &__text {
        @mixin smallText;
        box-sizing: border-box;
        width: 100%;
        z-index: 5;

        @media (--mobileSM) {
            padding: 10px 15px 10px;
        }

        @media (--mobileBU) {
            padding: 15px 20px 15px;
        }
    }

    &__footnote-collapsed {
        background-color: var(--dark70);
        cursor: pointer;
        width: 100%;

        @media (--mobile) {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
        }

        &:before {
            background: linear-gradient(180deg, rgba(28, 32, 45, 0.3) 0%, rgba(28, 32, 45, 0.8) 54.69%, rgba(28, 32, 45, 0.9) 80.21%, #1C202D 89.58%, #1C202D 100%);
            content: '';
            opacity: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
            width: 100%;
            z-index: 10;

            @media (--mobileSM) {
                height: 10px;
            }

            @media (--mobileBU) {
                height: 15px;
            }
        }

        &_unfolded {
            &:before {
                opacity: 0;
            }
        }
    }

    &_full-width {
        width: 100%;
    }
}
